@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@import "./../assets/vars";
@import "./../assets/keyframes";
@import "./../modules/map";

// ENTITIES
@include map-module();

// COMMON
.wrapper {
	background: #F9FAFB;
	font-family: $font_family;
	color: $color_text;
	font-weight: $font_weight;
	font-size: 16px;
	line-height: $line_height;
	position: relative;
	overflow: hidden;

	img,
	svg {
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}

	a {
		text-decoration: none;
	}

	button {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	* {
		box-sizing: border-box;
	}
}

.container {
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.default-slider {
	width: 100%;
}

.section {
	position: relative;

	&--long {

		&,
		&-pt {
			padding-top: 12.8%;
		}

		&,
		&-pb {
			padding-bottom: 12.8%;
		}
	}

	&--medium {

		&,
		&-pt {
			padding-top: 8%;
		}

		&,
		&-pb {
			padding-bottom: 8%;
		}
	}

	&--short {

		&,
		&-pt {
			padding-top: 6.7%;
		}

		&,
		&-pb {
			padding-bottom: 6.7%;
		}
	}
}

.text {
	line-height: 1.5;
}

.title {
	font-weight: 700;
	color: #03532F;
	font-size: 48px;
	line-height: 48px;
	&--mr{
		margin-right: 11px;
	}
	&--centered {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--mb {
		&-short {
			margin-bottom: 39px;
		}

		&-medium {
			margin-bottom: 49px;
		}

		&-long {
			margin-bottom: 64px;
		}
	}
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

// SECTIONS

// FIRST-SCREEN

.first-screen {
	&__inner {
		background-image: url(https://hhcdn.ru/ichameleon/307309.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 700px;
		padding: 89px 72px 0;
		border-radius: 60px;
		margin-top: 50px;
	}

	&__title {
		color: #FFF;
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
		margin-top: 74.63px;
	}

	&__subtitle {
		color: #FFF;
		font-size: 28px;
		font-weight: 500;
		line-height: 33.432px;
		margin-top: 17px;
	}

	&__btn-wrapper {
		width: 322px;
		padding: 18px;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 37px;
		background-color: #FFF;
	}

	&__btn {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		letter-spacing: 0.4px;
		text-align: center;
		color: $color_primary;
		background: linear-gradient(90deg, #83C547 0%, #03532F 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

// ABOUT

.about {
	position: relative;

	&__bg {
		position: absolute;
		left: 0;
	}

	&__img {
		position: absolute;
		right: 0;
		top: -30px;
		width: 350px;
		height: 591px;
	}

	&__card-wrapper {
		display: flex;

		&:last-child {
			justify-content: flex-end;
			margin-top: 119px;
		}
	}

	&__card {
		border-radius: 0px 50px 0px 0px;
		background: #FFF;
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		padding: 37px 33px;
		width: 52.5%;

		&-title {
			color: $color_secondary;
			font-size: 24px;
			font-weight: 600;
		}

		&-text {
			margin-top: 15px;
		}
	}
}

// ECOSYSTEM

.ecosystem {
	position: relative;

	&__first-img {
		position: absolute;
		left: 0;
		top: -100px;
	}

	&__second-img {
		position: absolute;
		left: 0;
		top: 0px;
	}

	&__third-img {
		position: absolute;
		right: 0;
		top: 105px;
		z-index: 3;
	}

	&__card {
		border-radius: 100px 0px 0px 0px;
		background: linear-gradient(90deg, #83C547 0%, #03532F 100%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		padding: 103px 39px;
		position: relative;
		display: flex;
		align-items: center;
		gap: 50px;

		&-bg {
			position: absolute;
			z-index: 1;
			top: 19px;
			right: -18px;
		}
	}

	&__card-title-wrapper {
		width: 40%;
		z-index: 2;
	}

	&__card-title {
		border-radius: 0px 30px 0px 0px;
		background: #FFF;
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		padding: 30px 22px 30px 37px;
		color: $color_primary;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
	}

	&__card-title-connection {
		margin-left: 187px;
	}

	&__card-subtitle {
		border-radius: 0px 30px 0px 0px;
		background: #FFF;
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		color: $color_secondary;
		font-size: 28px;
		font-weight: 700;
		line-height: 48px;
		padding: 23px 33px 23px 32px;
		width: 329px;
		margin-left: 38px;
	}

	&__card-text-wrapper {
		z-index: 2;
		width: 50%;
		color: #FFF;
		font-size: 19px;
		line-height: 25px;
		text-align: justify;
	}
}

// STATS

.stats {
	padding-top: 5.2%;
	position: relative;

	&__bg-img {
		position: absolute;
		top: 250px;
		right: -11px;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr) auto;
	}
}

.stat-card {
	width: 264px;
	height: 164px;
	padding: 20px;
	color: #FFF;
	font-weight: 500;

	&:nth-child(1) {
		border-radius: 50px 0px 0px 0px;
		background: linear-gradient(249deg, #4FAE3B 0%, #2C8F17 100%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		grid-column: 1;
	}

	&:nth-child(2) {
		background: linear-gradient(250deg, #F9B000 0%, #DFA314 90.68%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		grid-column: 2;
		margin: 0 24px;
	}

	&:nth-child(4) {
		border-radius: 0px 0px 0px 50px;
		background: linear-gradient(248deg, #E83F29 6.94%, #C62D19 100.3%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		grid-column: 1;
		padding: 11px 20px;
		margin-top: 34px;
	}

	&:nth-child(5) {
		background: linear-gradient(247deg, #34B5AA 0%, #118F85 99.91%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		grid-column: 2;
		padding: 11px 20px;
		margin: 34px 24px 0 24px;
	}

	&:nth-child(3) {
		width: 552px;
		height: 362px;
		border-radius: 0px 50px 60px 0px;
		background: linear-gradient(244deg, #03532F 5.48%, #024728 101.45%);
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		grid-column: span 2;
		grid-row: span 2;
		padding: 54px 36px;

		& .stat-card__title {
			font-size: 128px;
			line-height: 156px;
		}

		& .stat-card__text {
			font-size: 40px;
			line-height: 49px;
		}
	}

	&__title {
		font-size: 72px;
		line-height: 88px;
	}

	&__text {
		font-size: 18px;
		line-height: 22px;
	}
}

// MISSION

.mission {
	padding-top: 16%;
	z-index: 2;

	&__bg-img {
		position: absolute;
		top: 265px;
		z-index: 1;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 48px;
		margin-top: 68px;
		margin-left: 71px;
	}
	
	&__card {
		z-index: 3;
		width: 43%;
		background: #FFF;
		border-radius: 50px;
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
		height: 455px;
	}

	&__card-title {
		border-radius: 50px 50px 0px 0px;
		text-align: center;
		background: linear-gradient(90deg, #83C547 0%, #03532F 100%);
		color: #FFF;
		font-size: 40px;
		font-weight: 600;
		line-height: 49px;
		padding: 22px 0;
	}
	&__card-text{
		padding: 26px 33px 0 49px;
		& p{
			position: relative;
		}
		& p::before{
			content: '';
			position: absolute;
			left: -20px;
			top: 2px;
			background-image: url(https://hhcdn.ru/ichameleon/307319.svg);
			background-repeat: no-repeat;
			background-size: cover;
			width: 15px;
			height: 23px;
		}
	}
}

// CULTURE

.culture{
	position: relative;
	padding-top: 14%;
	&__bg-img{
		position: absolute;
		top: 215px;
	}
	&__inner{
		margin-top: 75px;
	}
	&__cards{
		display: none;
	}
}

// MAP

.s-map{
	position: relative;
	padding: 3.2% 0 10%;
	&__bg-img{
		position: absolute;
		top: 64px;
	}
	&__tiger-img{
		position: absolute;
		right: 46px;
		bottom: 100px;
		width: 326px;
		height: 427px;
	}
	&__decor-img{
		position: absolute;
		width: 436px;
		left: 0;
		bottom: 0;
	}
}

// FOOTER

.footer{
	padding: 3% 0 8.3%;
	position: relative;
	&__bg-img {
		position: absolute;
	}
	&__inner{
		margin-top: 93px;
	}
	&__btn{
		margin: 51px auto 0;
		cursor: pointer;
		width: 6%;
	}
}